---

---

<header
  class="text-center py-4 flex flex-col justify-center border-trasparent outline-2 outline-primary/80 outline-offset-3"
>
  <h1 class="text-primary font-bold text-4xl">SMITE 2 RANDOMIZER ЁЯдк</h1>
</header>
